* {
  margin-top: 0px;
  padding: 0;
  box-sizing: border-box;
  font-family: "Golos Text", sans-serif;
}

.splide__slide {
  padding-top: 50px;
}

.splide__slide img {
  width: 90%;
  height: 90%;
  border-radius: 10px;
  margin: 20px 0px 20px 14px;
  box-shadow: 5px 5px 10px rgb(127, 127, 127);
  object-fit: cover;
  background-color: #fff;
}

p {
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  position: absolute;
  z-index: 10;
  left: 50%;
  bottom: 5%;
  transform: translate(-50%, 0%);
  color: #000;
  width: 85%;
  font-weight: 500;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: start;
}
